body{
    width: 100%;
}
.mainHeader {
    width: 100%;
    height: 3200px;
    background-position: bottom center;
    background-image: radial-gradient(circle at center,rgba(0,0,0,0.34) 0%,rgba(0,0,0,0.47) 100%),
    url('./../../assests/images/atloswee1.jpg')!important;
    background-position:center;
    background-size: cover;
}


.row2{
    font-size: 30px;
    color: #ffffff!important;
    letter-spacing: 1px;
    line-height: 1.0em;
}




