
#navbar{
    width: 100%;
    height: 84px;
}

.li{
    color: white;
    display: inline-block;
    padding-right: 22px;
    font-size: 16px;
    font-weight: 600;
    line-height: 14px;
    font-family: 'Questrial',Helvetica,Arial,Lucida,sans-serif;
}
.li:hover{
    color: #330066;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 30px;
}


@media only screen and (max-width: 600px) {
    .navbar-nav {
        background-color: #ffffff;
        /* display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        margin-left: -5%;
        list-style: none;
        padding-top: 10%;
        padding-left: 5%; */
    }
  }

  

